<div class="column is-4">
    <div class="block homeblock">
    <h1>About me</h1>

    <p>
        I am a Computer Vision Scientist with about 3 years of experience.
        My interests range accross computer vision, bayesian methods, mathematics.
        I enjoy understanding complicated concepts and strongly believe in learn-by-writing practice.
        <br></br>
        In my free time I enjoy reading, learning about history, playing games (both video- and board-)
        and performing in Improv comedy, among other activities.
        <br></br>
        Go to <a href="../notes"> notes </a> to see the note feed.
    </p>

    </div>
</div>
